#index_top {
    font-family: 'Fira Sans', sans-serif;
}

#txt_top {
    font-family: 'Roboto Slab', sans-serif;
}

#index_sommaire {
    font-family: 'Comfortaa', sans-serif;
}

#source_top {
    font-family: 'Roboto Slab', sans-serif;
}

#source_crédits {
    font-family: 'Roboto', sans-serif;
}

#footer {
    font-family: 'Fira Sans', sans-serif;
    color: #7289da
}

#secu_intro {
    font-family: 'Fira Sans', sans-serif;
}

#intro_osint {
    font-family: 'Comfortaa', sans-serif;
}

#secu_osint {
    font-family: 'Roboto Slab', sans-serif;
}

#intro_stockage {
    font-family: 'Fira Sans', sans-serif;
}

#moyen_stockage {
    font-family: 'Roboto Slab', sans-serif;
}

#tableau {
    font-family: 'Comfortaa', sans-serif;
}

#intro_commerc {
    font-family: 'Fira Sans', sans-serif;
}

#commerc {
    font-family: 'Roboto Slab', sans-serif;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 27.5px;
}

h4 {
    font-size: 22px;
}