#index_top {
    font-family: 'Fira Sans', sans-serif;
}

#index_sommaire {
    font-family: 'Comfortaa', sans-serif;
}

/*body {
    background-image: url("/images/server.jpg");
    background-repeat: no-repeat;
}*/

#source_top {
    font-family: 'Roboto Slab', sans-serif;
}

#source_crédits {
    font-family: 'Roboto', sans-serif;
}

#footer {
    font-family: 'Fira Sans', sans-serif;
    color: #7289da
}